Coverage
PlotPy >= 2.8.2
PyQt5 >= 5.15.6
Sigima >= 1.1.0
guidata >= 3.13.4
myst-nb
myst_parser
psutil >= 5.7
pydata-sphinx-theme
pylint
pytest
pytest-xvfb
ruff
sphinx
sphinx-copybutton
sphinx-sitemap
sphinx_design
sphinx_gallery
sphinx_intl
